footer {
    background-image: linear-gradient(to right, rgb(87, 118, 255) , rgb(7, 3, 30));
    align-items: center;
    width: 100%;
    height: 7vh;
    bottom: 0;
    position: fixed;
    color: #7c7b7b;
    display: flex;
    justify-content: space-between;
}

#footerText {
    text-align: right;
    padding-right: 2em;
    padding-top: 1em;
    background-color: red;
}

#containerAboutUs {
    margin-top: 5vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

#firstSection {
    margin: revert;
}

#secondSection {
    max-width: fit-content;
    margin: revert;
}

#thirdSection {
    max-width: fit-content;
}

#githubIcon, #windyIcon, #openweatherIcon, #mongodbIcon, #herokuIcon {
    margin-left: 10vh;
}

#githubIcon>img, #windyIcon>img, #openweatherIcon>img, #mongodbIcon>img, #herokuIcon>img{
    max-height: 25px;
    max-width: 25px;
}

#githubLink:link, #githubLink:visited, #windyLink:link, #windyLink:visited, #openweatherLink:link, 
#openweatherLink:visited, #mongodbLink:link, #mongodbLink:visited, #herokuLink:link, #herokuLink:visited {
    color: antiquewhite;
    text-decoration: none;
    margin-left: 5px;
}