@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

#logo {
  margin-left: 1rem;
}

header {
  background-image: linear-gradient(to left, rgb(87, 118, 255) , rgb(7, 3, 30));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

iframe {
  /* iframes are inline by default */
  display: block;
  background: #000;
  /* Reset default border */
  border: none;
  /* Viewport-relative units */
  height: 90.8vh;
  width: 100vw;
}