#commentForm {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    bottom: 0;
}

#commentContainer {
    height: 72vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#sendButton {
    margin-left: 2em;
}

#commentInput {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1em;
    padding-bottom: 1em;
    display: inline-block;
    font-size: 18px;
}

#commentInput:focus {
    outline: none;
}

#commentIcon {
    margin-top: 2px;
}

.liComments {
    list-style-type: none;
    padding: 3em;
}
