#commentForm {
    width: 90%; 
    display: flex;
    align-items: center;
    padding-left: 10%;
    bottom: 45px;
    position: absolute;
}


#commentContainer {
    max-height: 64vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#topContainer {
    display: grid;
}

#sendButton {
    margin-left: 2em;
}

#commentInput {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1em;
    padding-bottom: 1em;
    display: inline-block;
    font-size: 18px;
}

#commentInput:focus {
    outline: none;
}

#commentIcon {
    margin-top: 2px;
    padding-right: 5px;
}

.ulComments {
    transform: rotate(180deg);
}

.liComments {
    list-style-type: none;
    padding: 3em;
    transform: rotate(-180deg);
}

.comments-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#no-comments {
    margin: auto;
    margin-top: revert;
    border-style: solid;
    border-radius: 5px;
    width: fit-content;
    padding: 7px;
}

.liTime {
    font-size: 12px;
    color: #C8C1BA;
}
