/* Manual */
#location {
  display: flex;
  align-items: center;
}

#location>a {
  margin-left: 3px;
}

/* MAP */
.marker {
  display: none;
}

.marker-active {
  display: block;
}

#marker-li {
  list-style: none;
  width: 10px;
  height: 10px;
}

#marker-ico {
  width: 50px;
  height: 50px;
}

#marker-loc {
  background-color: white;
  border-radius: 6;
}